<div class="threads-container" *ngIf="threads; else loading">
    <h1> all threads </h1>
    <div class="threads-list">
        <ul *ngFor="let thread of threads">
            <li>
                <h3> title: {{ thread.title }}</h3>
            </li>
            <li>author: <span>{{ thread.author.username }}</span></li>
            <li>date: <span>{{thread.date | date:'short'}}</span></li>
            <li><a [routerLink]="['thread', thread._id]">info</a></li>
        </ul>
    </div>
</div>
<ng-template #loading>
    <h1>LOADING...</h1>
</ng-template>