<div class="threads-container" *ngIf="threads; else loading">
    <h1> all threads </h1>
    <div class="threads-list">
        <ul *ngFor="let thread of threads">
            <li>
                <p><span>title:</span> {{ thread.title }}</p>
            </li>
            <li>
                <p><span>author:</span> {{ thread.author.username }}</p>
            </li>
            <li>
                <p><span>date:</span> {{thread.date | date:'short'}}</p>
            </li>
            <li><a [routerLink]="['thread', thread._id]">info</a></li>
        </ul>
    </div>
</div>
<ng-template #loading>
    <h1>LOADING...</h1>
</ng-template>