.threads-container {
  text-transform: $transform-text;
  h1 {
    margin: $margin 0;
  }
  .threads-list {
    display: grid;
    grid-gap: 8px;
    grid-auto-rows: 40px;
    color: color(text);
    ul {
      padding: 0 15px;
      border: $border color(placeholder);
      border-radius: $radius;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 3fr 2fr 3fr 1fr;
      li {
        align-items: center;
        display: flex;
        &:last-child {
          text-transform: uppercase;
          justify-self: flex-end;
          a {
            background-color: color(text);
            color: color(important);
            padding: 5px 10px;
            border-radius: $radius;
            &:hover {
              background-color: color(important);
              color: color(text);
            }
          }
        }
      }
    }
  }
}
