// FONTS
@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");

// FONTS-SIZE
.main-container {
  font-size: 10px;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.1rem;
}

nav a,
nav button {
  font-size: 1.1rem;
}

form input,
form button,
form textarea {
  font-size: 1.1rem;
}

li {
  font-size: 1rem;
  span {
    font-size: 0.8rem;
  }
}

.reply-date p {
  font-size: 0.5rem;
}
