// FONTS
@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");

// FONTS-SIZE
.main-container {
  font-size: 10px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

nav a,
nav button {
  font-size: 1.1rem;
}

form input,
form button,
form textarea {
  font-size: 1.1rem;
}
