* > {
  box-sizing: border-box;
}

a {
  color: color(text);
  text-decoration: none;
}

.threads-list a,
.thread-info a {
  background-color: color(text);
  color: color(important);
  padding: 5px 10px;
  border-radius: $radius;
  &:hover {
    background-color: color(important);
    color: color(text);
  }
}

button {
  cursor: pointer;
  color: color(text);
  background: none;
  border: 0;
  padding: 0;
  &:focus {
    outline: 0;
  }
}

input,
textarea {
  &:focus {
    outline: 0;
  }
}

textarea {
  text-align: justify;
  overflow-y: scroll;
  resize: none;
}

.active-link {
  color: color(important);
}
