<div class="single-thread-container" *ngIf="thread; else loading">
    <div class="thread-info">
        <a [routerLink]="['']"><i class="fas fa-long-arrow-alt-left"></i> Back to list </a>
        <h2>{{ thread.title }}</h2>
        <p class="thread-content"> {{ thread.content }} </p>
        <ul class="thread-info-card">
            <li>
                <p><span>date: </span> {{thread.date | date:'short'}} </p>
            </li>
            <li>
                <p><span>author: </span> {{ thread.author.username }}</p>
            </li>
            <li>
                <p><span>email: </span> {{ thread.author.email }} </p>
            </li>
        </ul>
        <h4>Reply</h4>
        <div class="reply">
            <ul *ngFor="let reply of thread.replies">
                <li>
                    <p><span>title: </span>{{reply.title}}</p>
                </li>
                <li>
                    <p><span>author: </span>{{reply.author.username}}</p>
                </li>
                <li class="reply-content">
                    <p><span>content: </span>{{reply.content}}</p>
                </li>
                <li class="reply-date">
                    <p>{{reply.date | date:'short'}}</p>
                </li>
            </ul>
        </div>
        <div *ngIf="!!user" class="form new-reply">
            <h4>Add a Reply</h4>
            <form ngNativeValidate>
                <ul>
                    <li><input type="text" name="title" placeholder="title" [(ngModel)]="newReplyInput.title"
                            required /></li>
                    <li> <textarea rows="5" name="content" placeholder="content" [(ngModel)]="newReplyInput.content"
                            required></textarea></li>
                    <li><button (click)="newReply()">create</button></li>
                </ul>
            </form>
        </div>
    </div>
</div>
<ng-template #loading>
    <h1>LOADING...</h1>
</ng-template>