<div class="form-container">
    <div class="__left-side"></div>
    <div class="__right-side">
        <div class="form">
            <h2>signup</h2>
            <form ngNativeValidate>
                <ul>
                    <li>
                        <input type="text" name="username" placeholder="username" [(ngModel)]="newSignupInput.username"
                            required /></li>
                    <li>
                        <input type="email" name="email" placeholder="email" [(ngModel)]="newSignupInput.email"
                            required /></li>
                    <li>
                        <input type="password" name="password" placeholder="password"
                            [(ngModel)]="newSignupInput.password" required /></li>
                    <li><button (click)="signup()">create</button></li>
                </ul>
            </form>
        </div>
    </div>