.header {
  header {
    border-bottom: 1px solid color(background);
    height: 50px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    color: color(text);
    nav ul {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 20px;
      a {
        &:hover {
          color: color(important);
        }
      }
    }
  }
}
